@font-face {
  font-family: "Authentic70s";
  src: url("../fonts/authentic 70s.ttf") format("truetype");
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: radial-gradient(ellipse at top, rgba(255, 255, 255, 0.9) 0%, rgba(186, 186, 186, 0.35) 25%, rgba(255, 255, 255, 0) 45%), linear-gradient(to bottom, #3A7FD5 0%, #0D1F4A 50%, #050810 100%);
}

.main .navigation {
  display: flex;
  align-items: center;
  margin: 0 4rem;
  justify-content: space-between;
}
.main .navigation .brand {
  font-family: "Authentic70s", "Edu NSW ACT Hand Cursive", cursive;
  font-size: 2.8rem;
  font-weight: 900;
  background: #080F1E;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.main .navigation .authentication {
  font-weight: 400;
}
.main .navigation .authentication .auth-btn {
  border-radius: 0.9rem;
  border: none;
  min-width: 6rem;
  min-height: 2.25rem;
  font-weight: bold;
  transition: box-shadow 0.2s ease;
}
.main .navigation .authentication .auth-btn:hover {
  border: none;
  box-shadow: 0.25rem 0.25rem 1.5rem #38bdf8;
  cursor: pointer;
}
.main .navigation .authentication #signin-btn {
  background-color: #6AAEF8;
  box-shadow: 0 0 1.5rem #6AAEF8;
  color: #ffffff;
}
.main .navigation .authentication #signin-btn:hover {
  box-shadow: 0.25rem 0.25rem 1.5rem #6AAEF8;
}
.main .navigation .authentication #register-btn {
  margin-left: 1rem;
  background-color: transparent;
  border: 1px solid rgba(8, 15, 30, 0.3764705882);
  color: #0D1F4A;
}
.main .welcome-text {
  font-family: "Authentic70s", "Edu NSW ACT Hand Cursive", cursive;
  font-size: 12rem;
  margin: 0rem 3rem;
  position: relative;
  color: #3A7FD5;
}
.main .welcome-text #stay-txt {
  margin: 0;
  padding-left: 10rem;
  color: #0D1F4A;
}
.main .welcome-text #connected-txt {
  position: absolute;
  left: 31.32rem;
  top: -7rem;
}
.main .welcome-text #connected-txt span {
  font-size: 8rem;
}
.main .cta {
  margin: 10rem 3rem;
  display: flex;
  justify-content: center;
}
.main .cta .cta-btn {
  border-radius: 8rem;
  border: 1px solid #6AAEF8;
  min-width: 12rem;
  min-height: 3rem;
  background-color: #7DD4D0;
  box-shadow: 0.25rem 0.25rem 3rem #3AADA8;
  font-weight: bold;
}
.main footer {
  display: flex;
  width: 100%;
  min-height: 6.5rem;
  justify-content: space-between;
  align-items: center;
  background: #050810;
  color: white;
}
.main footer div {
  display: inherit;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2509803922);
  min-height: 100vh;
}
.overlay .form-container {
  margin: auto;
  min-width: 30rem;
  min-height: 25rem;
  background: transparent;
  border-radius: 0.8rem;
  box-shadow: 0 0 5rem rgba(13, 31, 74, 0.3764705882);
  text-align: center;
  color: #6AAEF8;
  font-weight: bold;
}
.overlay .form-container h1 {
  color: #080F1E;
  text-shadow: 0 0 0.5rem #0D1F4A;
  font-family: "Authentic70s", "Edu NSW ACT Hand Cursive", cursive;
  font-size: 3rem;
}
.overlay .form-container p {
  color: #0D1F4A;
  margin: -1rem 0 0 0;
  text-shadow: 0 0 0 #7DD4D0;
  font-family: "Authentic70s", "Edu NSW ACT Hand Cursive", cursive;
  font-size: 1.5rem;
}
.overlay .form-container p span {
  font-size: 2rem;
  font-weight: lighter;
  font-style: italic;
}
.overlay .form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: inherit;
  min-width: -moz-fit-content;
  min-width: fit-content;
  background: transparent;
}
.overlay .form-container form label {
  margin: 0 0 0.2rem -16rem;
}
.overlay .form-container form #confirm-password-label {
  margin: 0 0 0.2rem -12rem;
}
.overlay .form-container form input {
  width: 20rem;
  min-height: 2rem;
  margin: 0 0 2rem 0;
  border-radius: 0.5rem;
  border: none;
  font-weight: 600;
  color: #0D1F4A;
}
.overlay .form-container form input[type=text], .overlay .form-container form input[type=password] {
  padding: 0 0 0 0.5rem;
}
.overlay .form-container form input[type=text]:focus, .overlay .form-container form input[type=password]:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0.8rem #3AADA8;
}
.overlay .form-container form input[type=text]::-moz-placeholder, .overlay .form-container form input[type=password]::-moz-placeholder {
  font-weight: 600;
}
.overlay .form-container form input[type=text]::placeholder, .overlay .form-container form input[type=password]::placeholder {
  font-weight: 600;
}
.overlay .form-container form input[type=submit] {
  margin: 2rem;
  background: transparent;
  border: 1.2px solid #6AAEF8;
  color: #6AAEF8;
}
.overlay .form-container form input[type=submit]:hover {
  cursor: pointer;
  box-shadow: 0 0 0.8rem rgba(125, 212, 208, 0.3764705882);
}

.main-chat-container {
  min-height: 100vh;
  background-color: #050810;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-chat-container .chat-overlay {
  position: fixed;
  display: flex;
  top: 3rem;
  bottom: 3rem;
  left: 3rem;
  right: 3rem;
  margin: auto;
  padding: 1rem;
  border-radius: 0.8rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.main-chat-container .chat-overlay .action-menu {
  flex: 0.05;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
}
.main-chat-container .chat-overlay .action-menu .logo-panel {
  flex: 0.2;
  color: #6AAEF8;
  text-shadow: 0 0 0.5rem #6AAEF8;
  font-family: "Authentic70s", "Edu NSW ACT Hand Cursive", cursive;
  font-size: 1.5rem;
  margin: -1.4rem 0 0 0;
  text-align: center;
}
.main-chat-container .chat-overlay .action-menu .action-panel, .main-chat-container .chat-overlay .action-menu .profile-panel {
  flex: 0.5;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-chat-container .chat-overlay .action-menu .action-panel a, .main-chat-container .chat-overlay .action-menu .profile-panel a {
  text-decoration: none;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  color: #1A3F8A;
}
.main-chat-container .chat-overlay .action-menu .action-panel a:hover, .main-chat-container .chat-overlay .action-menu .profile-panel a:hover {
  background: rgba(76, 170, 223, 0.3764705882);
}
.main-chat-container .chat-overlay .action-menu .action-panel a img, .main-chat-container .chat-overlay .action-menu .profile-panel a img {
  border-radius: 30%;
  padding: 0.25rem;
  margin: 0.1rem 0 -0.1rem 0;
}
.main-chat-container .chat-overlay .action-menu .profile-panel {
  flex: 0.3;
}
.main-chat-container .chat-overlay .recent-chat-container {
  flex: 0.3;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.main-chat-container .chat-overlay .recent-chat-container .search-bar {
  flex: 0.05;
  width: 100%;
  display: flex;
}
.main-chat-container .chat-overlay .recent-chat-container .search-bar input {
  min-width: 15rem;
  width: 90%;
  height: 2rem;
  margin: 0 0 0.5rem 0;
  border: 1px solid rgba(26, 63, 138, 0.1882352941);
  border-radius: 0.5rem 0.2rem 0.2rem 0.5rem;
  font-weight: 600;
  color: #6AAEF8;
  background: #080F1E;
  padding: 0 0 0 0.5rem;
}
.main-chat-container .chat-overlay .recent-chat-container .search-bar input:focus {
  outline: none;
  border: none;
  box-shadow: inset 0 0 0.2rem #0D1F4A;
}
.main-chat-container .chat-overlay .recent-chat-container .search-bar input::-moz-placeholder {
  color: #0D1F4A;
}
.main-chat-container .chat-overlay .recent-chat-container .search-bar input::placeholder {
  color: #0D1F4A;
}
.main-chat-container .chat-overlay .recent-chat-container .search-bar button {
  width: 2.5rem;
  height: 2rem;
  background: #080F1E;
  border-radius: 0 0.5rem 0.5rem 0;
  border: none;
  cursor: pointer;
}
.main-chat-container .chat-overlay .recent-chat-container .search-bar button:active {
  background: #050810;
}
.main-chat-container .chat-overlay .recent-chat-container .recent-chat {
  flex: 0.95;
  display: flex;
  flex-direction: column;
  min-height: 0;
}
.main-chat-container .chat-overlay .recent-chat-container .recent-chat h3 {
  margin: 0;
  color: #6AAEF8;
}
.main-chat-container .chat-overlay .recent-chat-container .recent-chat .chat-container {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
}
.main-chat-container .chat-overlay .recent-chat-container .recent-chat .chat-container::-webkit-scrollbar {
  width: 0.15rem;
}
.main-chat-container .chat-overlay .recent-chat-container .recent-chat .chat-container::-webkit-scrollbar-track {
  background: transparent;
}
.main-chat-container .chat-overlay .recent-chat-container .recent-chat .chat-container::-webkit-scrollbar-thumb {
  background: #0D1F4A;
  border-radius: 1.2rem;
}
.main-chat-container .chat-overlay .recent-chat-container .recent-chat .chat-container::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#6AAEF8, #080F1E);
}
.main-chat-container .chat-overlay .recent-chat-container .recent-chat .chat-container .chat {
  display: flex;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
  color: white;
  align-items: center;
  margin-top: 1rem;
}
.main-chat-container .chat-overlay .recent-chat-container .recent-chat .chat-container .chat img {
  flex: 0.2;
  border-radius: 50%;
  max-width: 3rem;
  max-height: 3rem;
  border: 1px solid #0D1F4A;
  padding: 0.5rem;
}
.main-chat-container .chat-overlay .recent-chat-container .recent-chat .chat-container .chat .chat-details {
  flex: 0.8;
}
.main-chat-container .chat-overlay .recent-chat-container .recent-chat .chat-container .chat .chat-details h4 {
  margin: 0;
}
.main-chat-container .chat-overlay .recent-chat-container .recent-chat .chat-container .chat .chat-details .message-clip {
  min-width: 8rem;
  max-width: 16rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.25rem 0 0 0;
}
.main-chat-container .chat-overlay .recent-chat-container .recent-chat .chat-container .chat .message-clip-time {
  text-align: center;
  width: 100%;
}
.main-chat-container .chat-overlay .messages-displayer {
  flex: 0.65;
  border-radius: 0.8rem;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 0;
}
.main-chat-container .chat-overlay .messages-displayer img {
  cursor: pointer;
}
.main-chat-container .chat-overlay .messages-displayer img:active {
  background: #050810;
}
.main-chat-container .chat-overlay .messages-displayer .chat-message-header {
  left: 2rem;
  border-width: 1px 1px 0 1px;
  border-color: #080F1E;
  border-style: solid;
  box-shadow: inset 0 0 0.2rem #0D1F4A;
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  border-radius: 0.8rem 0.8rem 0 0;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}
.main-chat-container .chat-overlay .messages-displayer .chat-message-header img {
  flex: 0.1;
  border-radius: 50%;
  max-width: 3rem;
  max-height: 3rem;
  border: 1px solid #0D1F4A;
  padding: 0.5rem;
}
.main-chat-container .chat-overlay .messages-displayer .chat-message-header .chat-header-details {
  flex: 0.7;
}
.main-chat-container .chat-overlay .messages-displayer .chat-message-header .chat-header-details h4, .main-chat-container .chat-overlay .messages-displayer .chat-message-header .chat-header-details p {
  margin: 0;
}
.main-chat-container .chat-overlay .messages-displayer .chat-message-header .chat-file-selectors {
  flex: 0.2;
  text-align: right;
}
.main-chat-container .chat-overlay .messages-displayer .chat-message-header .chat-file-selectors input[type=file] {
  position: absolute;
  visibility: hidden;
}
.main-chat-container .chat-overlay .messages-displayer .chat-message-header .chat-file-selectors img {
  border-radius: 30%;
  max-width: 2rem;
  max-height: 2rem;
  padding: 0.5rem;
}
.main-chat-container .chat-overlay .messages-displayer .messages-container {
  border-radius: 0 0 0.8rem 0.8rem;
  background: #080F1E;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
  padding: 1rem 2rem 5rem 2rem;
  position: relative;
}
.main-chat-container .chat-overlay .messages-displayer .messages-container::-webkit-scrollbar {
  display: none;
}
.main-chat-container .chat-overlay .messages-displayer .messages-container .recieve-message, .main-chat-container .chat-overlay .messages-displayer .messages-container .chat-box {
  border: 1px solid #1A3F8A;
  background: #1A3F8A;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0.25rem;
  border-radius: 0.8rem;
  margin: 0 0 0.5rem 0;
  color: #080F1E;
}
.main-chat-container .chat-overlay .messages-displayer .messages-container .recieve-message h5, .main-chat-container .chat-overlay .messages-displayer .messages-container .chat-box h5 {
  margin: -0.28rem 0 0 -1.5rem;
  padding: 0.25rem;
  border: 1px solid #1A3F8A;
  background: #1A3F8A;
  border-radius: 0.8rem;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: rgba(8, 15, 30, 0.5843137255);
}
.main-chat-container .chat-overlay .messages-displayer .messages-container .recieve-message p, .main-chat-container .chat-overlay .messages-displayer .messages-container .chat-box p {
  overflow-wrap: anywhere;
  max-width: 20rem;
  margin: 0;
}
.main-chat-container .chat-overlay .messages-displayer .messages-container .send-message {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.main-chat-container .chat-overlay .messages-displayer .messages-container .send-message .chat-box {
  max-width: -moz-fit-content;
  max-width: fit-content;
  background: #050810;
  border: none;
  color: #6AAEF8;
}
.main-chat-container .chat-overlay .messages-displayer .messages-container .message-bar {
  position: fixed;
  display: flex;
  bottom: 5rem;
  left: 40rem;
  right: 10rem;
  border-radius: 0.8rem;
  align-items: center;
  justify-content: center;
}
.main-chat-container .chat-overlay .messages-displayer .messages-container .message-bar img {
  padding: 0.25rem;
  border-radius: 20%;
  margin: 0.25rem 0 0 -3rem;
}
.main-chat-container .chat-overlay .messages-displayer .messages-container .message-bar textarea {
  flex: 1;
  resize: none;
  border-radius: 0.8rem;
  word-break: break-all;
  border: 1px solid rgba(26, 63, 138, 0.3764705882);
  font-weight: 600;
  color: #6AAEF8;
  background: rgba(8, 15, 30, 0.3764705882);
  padding: 0.5rem 3.5rem 0 0.5rem;
}
.main-chat-container .chat-overlay .messages-displayer .messages-container .message-bar textarea:focus {
  outline: none;
  border: none;
  box-shadow: inset 0 0 0.2rem #0D1F4A;
}
.main-chat-container .chat-overlay .messages-displayer .messages-container .message-bar textarea::-moz-placeholder {
  color: rgba(106, 174, 248, 0.3764705882);
}
.main-chat-container .chat-overlay .messages-displayer .messages-container .message-bar textarea::placeholder {
  color: rgba(106, 174, 248, 0.3764705882);
}
.main-chat-container .chat-overlay .messages-displayer .messages-container .message-bar textarea::-webkit-scrollbar {
  display: none;
}/*# sourceMappingURL=styles.css.map */