{% extends 'base.html' %}

{% block content %}
<div class="main-chat-container">
    <div class="chat-overlay">
        <div class="action-menu">
            <div class="logo-panel">
                <p>ChatLink</p>
            </div>
            <div class="action-panel">
                <a href="{{ url_for('main.chat_home') }}" id="chat-icon"><img src="{{ url_for('static', filename='images/chat.png') }}"></a>
                <a href="{{ url_for('main.group_home') }}" id="grp-icon"><img src="{{ url_for('static', filename='images/grps.png') }}"></a>
            </div>
            <div class="profile-panel">
                <a href=""><img src="{{ url_for('static', filename='images/circle-user.png') }}"></a>
                <a href="{{ url_for('main.logout') }}"><img src="{{ url_for('static', filename='images/leave.png') }}" alt=""></a>
            </div>
        </div>
        
        <div class="recent-chat-container">
            <div class="search-bar">
                <input type="search" name="" id="recent-chat-search" placeholder="Search">
                <button><img src="{{ url_for('static', filename='images/search.png') }}" alt=""></button>
            </div>
            <div class="recent-chat">
                <h3>Messages</h3>
                <div class="chat-container">
                    <!--Populate this part with online users-->    
                    {% for user in online_users %}
                        {% if user != current_user.id %}
                            <div class="chat" role="button"
                                onclick="window.location.href='{{ url_for('main.chat', friend=user) }}'">

                                <img src="{{ url_for('static', filename='images/user.png') }}" alt="">

                                <div class="chat-details">
                                    <h4 class="chat-name">{{ user }}</h4>
                                </div>

                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="messages-displayer">
            <div class="chat-message-header">
                <img src="{{ url_for('static', filename='images/user.png') }}">

                <div class="chat-header-details">
                    <h4>{{ friend }}</h4>
                    <p>online</p>
                </div>

                <div class="chat-file-selectors">
                    <label for="image-upload">
                        <img src="{{ url_for('static', filename='images/picture.png') }}">
                        <input type="file" accept="image/*" name="image-upload" id="image-upload">
                    </label>
                    <label for="file-upload">
                       <img src="{{ url_for('static', filename='images/file.png') }}">
                       <input type="file" name="file-upload" id="file-upload">
                    </label>
                </div>
            </div>

            <div class="messages-container" data-friend="{{ friend }}">
                <div class="message-bar">
                    <textarea name="message" id="message-input" placeholder="Type your message..."></textarea>
                    <label for="message-send-btn">
                        <img src="{{ url_for('static', filename='images/send.png') }}">
                        <input type="button" value="send" id="message-send-btn" style="visibility: hidden;"
                            onclick="
                            messageDisplay();
                            "
                        >
                    </label>
                </div>

            </div>
        </div>
        
    </div>
</div>
{% endblock %}